.container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}